.spots-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.spot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* adjust the justify-content property to fill the entire container */
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; /* increase the width to fill the entire container */
}

.spot-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33.3% - 30px); /* adjust the width to fit three cards in a row */
  height: 400px; /* increase the height to match the taller images */
  margin: 0 15px 30px;
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
}

.spot-image-wrapper {
  width: 100%;
  height: 200px; /* increase the height to make the images taller */
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.spot-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.spot-details {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

.spot-info-wrapper {
  display: flex;
  justify-content: left;
  font-size: 14px;
}

.spot-price {
  font-size: 18px;
  font-weight: 600;
}

.spot-rating {
  display: flex;
  align-items: right;
  font-size: 18px;
  font-weight: 600;
}
