.spots-container {
  display: flex;
  justify-content: left;
  padding: 20px;
}

.spots-list {
  display: block;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.spot-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(25% - 30px);
  height: 300px;
  margin: 0 15px 30px;
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
}

.spot-image-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  background-size: cover;
  background-position: center center;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.spot-details {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

.spot-info-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.spot-price {
  font-size: 18px;
  font-weight: 600;
}

.spot-rating {
  display: flex;
  align-items: right;
  font-size: 18px;
  font-weight: 600;
}


@media screen and (max-width: 1200px) {
  .spot-card {
    width: calc(33.33% - 30px);
  }
}

@media screen and (max-width: 992px) {
  .spot-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .spot-card {
    width: calc(50% - 20px);
    height: 250px;
  }
  .spot-info-wrapper {
    font-size: 12px;
  }
  .spot-price {
    font-size: 16px;
  }
  .spot-rating {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .spot-card {
    width: 100%;
    height: 200px;
  }
  .spot-info-wrapper {
    font-size: 10px;
  }
  .spot-price {
    font-size: 14px;
  }
  .fa-star {
    margin-right: 3px;
  }
}
